body {
    background-color: #fe906d;
}

h1 {
    color: #000000;
	font-size: 6em;
	margin-top: 1em;
	margin-left: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	text-align: center;
}

h2 {
    color: #000000;
	font-size: 3em;
	margin-top: 0.2em;
	margin-left: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	text-align: center;
}