body {
    background-color: #fe906d;
}

@font-face {
    font-family: 'Roboto';
	src: url('font/Roboto-Regular.ttf');
}

img.logo {
	display: block;
	margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #000000;
	font-size: 100;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Roboto';
}

h2 {
    color: #000000;
	font-size: 26;
	margin-top: -20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Roboto';
}

h3 {
    color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Roboto';
}